.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#combosTable{
  
}

#mainContent{
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  margin-left:8px;
  font-size: calc(10px + 2vmin);
  color: white;
  /* width:50%; */
}

#mainContent>div,table{
  background-color:#13191a;

}


.pieceIcon{
  max-width:40px !important;
}

#currentTeamTable > tbody > tr,#currentTeamTable > tbody > tr{
  
  cursor: no-drop;

}


.sectionContainer{
  background-color:#13191a;
}

img{
  height:28px;
  width:28px;
}
tr{
  height:20px;
  /* width:32vw; */
  background-color:#13191a;
  cursor: cell;

}
th,th>span{
  color: #bbbbbb !important;
}

.pieceCost{
  color: #bbbbbb !important;
}

#piecesSection > table > tbody > tr > th,#piecesSection > table > tbody > tr > td{

  text-align:left;
  border-bottom: 1px solid #333 !important;
  padding-right:0 !important;
}
tr>th, tr>td{
  text-align:left;
  border-bottom: 1px solid #333 !important;
}
tr>th:last-child, tr>td:last-child{
  text-align:right;
  padding: 0;
}
tr>td:first-child{
  padding-right:0 !important;
  padding: 0;
  max-width:32px;
}



/* Species */
.beast{
   color:green !important;
   order:1;
 }
 .dwarf{
  color:brown !important;
   order:2;
 }
 .demon{
  color:purple !important;
   order:3;
 }
 .dragon{
  color:green !important;
   order:4;
 }
 .element{
  color:yellow !important;
   order:5;
 }
 .elf{
  color:aquamarine !important;
   order:6;
 }
 .goblin{
  color:greenyellow !important;
   order:7;
 }
 .human{
  color:peachpuff !important;
   order:8;
 }
 .naga{
  color:fuchsia !important;
   order:9;
 }
 .ogre{
  color:blue !important;
   order:10;
 }
 .orc{
  color:orange !important;
   order:11;
 }
 .troll{
  color:lightgreen !important;
   order:12;
 }
 .undead{
  color:grey !important;
   order:13;
 }
 .god{
   color: white !important;
 }
 
 
 /* Classes */
 
 .assassin{
   color:slategray !important;
 }
 .demonhunter{
   color:teal !important;
 }
 .druid{
   color:orange !important;
 }
 .hunter{
   color:forestgreen !important;
 }
 .knight{
   color:pink !important;
 }
 .mage{
   color:lightblue !important;
 }
 .mech{
   color:brown !important;
 }
 .shaman{
   color:blue !important;
 }
 .warlock{
   color:purple !important;
 }
 .warrior{
   color:red !important;
 } 
 .priest{
  color:gold !important;
}
 
 