.App {
  text-align: center;
  /* width:90vw; */
  /* margin: 0 auto 0 auto */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#currentSquad{
  min-height:300px
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Species */
.beast{
 color:green;
  order:1;
}
.dwarf{
 color:brown;
  order:2;
}
.demon{
 color:purple;
  order:3;
}
.dragon{
  /* background: linear-gradient(to right, green 50%, #fff 50%); */
 color:green;
  order:4;
}
.element{
 color:yellow;
  order:5;
}
.elf{
 color:aquamarine;
  order:6;
}
.goblin{
 color:greenyellow;
  order:7;
}
.human{
 color:peachpuff;
  order:8;
}
.naga{
 color:fuchsia;
  order:9;
}
.ogre{
 color:blue;
  order:10;
}
.orc{
 color:orange;
  order:11;
}
.troll{
 color:lightgreen;
  order:12;
}
.undead{
 color:grey;
  order:13;
}


/* Classes */

.assassin{
  color:slategray;
}
.demonhunter{
  color:teal;
}
.druid{
  color:orange;
}
.hunter{
  color:forestgreen;
}
.knight{
  color:pink;
}
.mage{
  color:lightblue;
}
.mech{
  color:brown;
}
.shaman{
  color:blue;
}
.warlock{
  color:purple;
}
.warrior{
  color:red;
} 

