body{ 
  opacity:0;
  transition: opacity 2s;
  -webkit-transition: opacity 2s; /* Safari */
}

.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;

}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#combosTable{
  
}

#mainContent{
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  margin-left:8px;
  font-size: calc(10px + 2vmin);
  color: white;
  /* width:50%; */
}

#mainContent>div,table{
  background-color:#13191a;

}


.pieceIcon{
  max-width:40px !important;
}

#currentTeamTable > tbody > tr,#currentTeamTable > tbody > tr{
  
  cursor: no-drop;

}

.simpleTable{
  font-size:13px;
  float:left;
  margin-left:1%;
  width:32%;
}


td.iconTD > img{
  height:24px;
  width:auto;
}

.maxHeightRowLimiter{
  height:20px;
}

.simpleTable > tbody > tr > td:not(first-child),
.simpleTable > thead > tr > th:not(first-child),
.currentTeamTable > tbody > tr > td:not(first-child),
.currentTeamTable > thead > tr > th:not(first-child){
  text-align:left;
}

.simpleTable > tbody > tr > td:last-child,
.simpleTable > thead > tr > th:last-child,
.currentTeamTable > tbody > tr > td:last-child,
.currentTeamTable > thead > tr > th:last-child{
  text-align:right;
}


.currentTeamTable{
  font-size:13px;
  width:98%;
  margin-left:1%;
}

.comboTable{
  font-size:13px;
  width:24%;
  margin-left:1%;
  float:left;

}

.comboTable > tbody > tr > td:not(first-child),
.comboTable > thead > tr > th:not(first-child){
  text-align:left;
}



.comboDesc{
  text-align:right;

}

.iconTD{
  padding-right:8px;
}

.comboAmount{
  font-size:16px;
  vertical-align: baseline;
}

.sectionContainer{
  background-color:#13191a;
}

.iconTD > img{
  height:28px;
  width:28px;
}


.comboIconTD > img{
  height:24px;
  width:auto;
  /* float:right; */
}


/* Species */
.beast{
   color:green !important;
   order:1;
 }
 .dwarf{
  color:brown !important;
   order:2;
 }
 .demon{
  color:purple !important;
   order:3;
 }
 .dragon{
  color:green !important;
   order:4;
 }
 .element{
  color:yellow !important;
   order:5;
 }
 .elf{
  color:aquamarine !important;
   order:6;
 }
 .goblin{
  color:greenyellow !important;
   order:7;
 }
 .human{
  color:peachpuff !important;
   order:8;
 }
 .naga{
  color:fuchsia !important;
   order:9;
 }
 .ogre{
  color:blue !important;
   order:10;
 }
 .orc{
  color:orange !important;
   order:11;
 }
 .troll{
  color:lightgreen !important;
   order:12;
 }
 .undead{
  color:grey !important;
   order:13;
 }
 .god{
   color: white !important;
 }
 
 
 /* Classes */
 
 .assassin{
   color:slategray !important;
 }
 .demonhunter{
   color:teal !important;
 }
 .druid{
   color:orange !important;
 }
 .hunter{
   color:forestgreen !important;
 }
 .knight{
   color:pink !important;
 }
 .mage{
   color:lightblue !important;
 }
 .mech{
   color:brown !important;
 }
 .shaman{
   color:blue !important;
 }
 .warlock{
   color:purple !important;
 }
 .warrior{
   color:red !important;
 } 
 .priest{
  color:gold !important;
}
 
 